/*
Estilo Responsive
*/
/*
Version screen
*/
@media only screen and (max-width: 900px) {
  .container-2 {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .container-2 {
    width: 100%;
  }
}
 
/*
Version mobile
*/
@media (max-width:767px) {
  [class*="col-"] {
    max-width: 100%;
    flex: none;
  }

  footer{
  width: 100%;
  margin-top: 650px;
  }

  header h2 {
    padding: 0;
    font-stretch: semi-expanded;ize: 22px;
  }
  
  .fa-bars {
  margin-left: 50%;
  display: inline-block;
  }

  header ul {
    display: none;
  }
}

@media (max-width:900px) {
  [class*="col-"] {
    max-width: 100%;
    flex: none;
  }
}