/*
Formateando margin y padding
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
	font-family:'Roboto', sans-serif;
  background-color: ;
}

/*
Dando forma al header
*/
header {
  background-color: #000;
  height: 70px;
  color: white;
  padding: 19px;
}

header ul {
  text-align: right;
}

header ul li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
}

header ul li:first-child {
  font-weight: bold;
}

/*
Sección Libertad 
*/

.business {
  background-image: url(../img/foto2.jpg);
  object-fit: cover;
  width: 100%;
  height: 300px;
  color: white;
}

.business h1 {
  font-size: 100px;
  text-align: center;
  margin-top: 80px;
}

/*
Contenedor Texto 80%
*/

.main {
  width: 80%
  height: auto;
  border: 2px solid;
  padding:20 0 0 20px;
}

.text-1 {
  padding-top: 30px;
  padding-left: 30px;
}

.text-1 p {
  font-weight: lighter;
}

/*
Botón
*/
.boton_call {
  background-color: #007BFF;
  margin-top: 20px;
  width: 11%;
  border-radius: 4px;
  color: white;
  
}

.boton_call p {
  font-size: 12px;
  padding: 7px;
  margin-left: 4px;
}

/*
Sección 3 imágenes
*/
.card_title {
  width: 300px;
  height: 200px;
}
